{% extends "layoutEmail.html.twig" %}

{% block body %}
    <h1>New episode{{ episode.title }} created</h1>

    <p>Hello, the new episode number {{ episode.number }} - {{ episode.title }} from {{ episode.season.number}} {{ episode.season.program.title}} has been created on Wild Series</p>

    <p>Summary : {{episode.synopsis }}</p>

    <a href = "{{ path('program_season_show', {program: episode.season.program.id, season: episode.season.id}) }}">See others episode</a>
{% endblock %}
